/* SOLID COLORS */
$color-white: #FFFFFF;
$color-black: #000000;
$color-gray: #979797;
$color-red: #CC0000;
$color-green: #00a136;
$color-purple: #4D089A;
$color-blue: #323EDD;
$color-pink: #DC2ADE;
$color-yellow: #E8F044;

/* TRANSPARENTS COLORS */
$color-trans-black-8: rgba(0, 0, 0, 0.8);

/* PURPLE TONES COLORS */
$color-tone-purple-01: #6327A7;
$color-tone-purple-02: #7A46B3;
$color-tone-purple-03: #9065C0;
$color-tone-purple-04: #A684CD;
$color-tone-purple-05: #BCA2D9;
$color-tone-purple-06: #D3C1E6;
$color-tone-purple-07: #E9E0F2;

/* PURPLE SHADOWS COLORS */
$color-shadow-purple-01: #430787;
$color-shadow-purple-02: #3A0674;
$color-shadow-purple-03: #300560;
$color-shadow-purple-04: #27044D;
$color-shadow-purple-05: #1D033A;
$color-shadow-purple-06: #130226;
$color-shadow-purple-07: #0A0113;

/* BLUE TONES COLORS */
$color-tone-blue-01: #4C56E1;
$color-tone-blue-02: #656EE5;
$color-tone-blue-03: #7F86EA;
$color-tone-blue-04: #999FEE;
$color-tone-blue-05: #B2B7F2;
$color-tone-blue-06: #CCCFF6;
$color-tone-blue-07: #E5E7FB;

/* BLUE SHADOWS COLORS */
$color-shadow-blue-01: #2C36C1;
$color-shadow-blue-02: #262FA6;
$color-shadow-blue-03: #1F278A;
$color-shadow-blue-04: #191F6E;
$color-shadow-blue-05: #131753;
$color-shadow-blue-06: #0D0F37;
$color-shadow-blue-07: #06081C;

/* PINK TONES COLORS */
$color-tone-pink-01: #E045E2;
$color-tone-pink-02: #E55FE6;
$color-tone-pink-03: #E97AEA;
$color-tone-pink-04: #ED95EE;
$color-tone-pink-05: #F2AFF3;
$color-tone-pink-06: #F6CAF7;
$color-tone-pink-07: #FBE4FB;

/* PINK SHADOWS COLORS */
$color-shadow-pink-01: #C125C2;
$color-shadow-pink-02: #A51FA6;
$color-shadow-pink-03: #891A8B;
$color-shadow-pink-04: #6E156F;
$color-shadow-pink-05: #521053;
$color-shadow-pink-06: #370B37;
$color-shadow-pink-07: #1B051C;

/* YELLOW TONES COLORS */
$color-tone-yellow-01: #EBF25B;
$color-tone-yellow-02: #EEF473;
$color-tone-yellow-03: #F1F68A;
$color-tone-yellow-04: #F3F7A2;
$color-tone-yellow-05: #F6F9B9;
$color-tone-yellow-06: #F9FBD0;
$color-tone-yellow-07: #FCFDE8;

/* YELLOW SHADOWS COLORS */
$color-shadow-yellow-01: #CBD23C;
$color-shadow-yellow-02: #AEB433;
$color-shadow-yellow-03: #91962B;
$color-shadow-yellow-04: #747822;
$color-shadow-yellow-05: #575A1A;
$color-shadow-yellow-06: #3A3C11;
$color-shadow-yellow-07: #1D1E09;