/* FONTS NAMES */
$f-name-kanit: Kanit;
$f-name-worksans: WorkSans;
$f-name-bangers: Bangers;

/* KANIT FONT */
$f-kanit-url-700: url('../fonts/kanit/kanit_700_bold.ttf');
$f-kanit-url-800: url('../fonts/kanit/kanit_800_extrabold.ttf');
$f-kanit-url-900: url('../fonts/kanit/kanit_900_black.ttf');

/* KANIT ITALIC FONT */
$f-kanit-url-700-italic: url('../fonts/kanit/kanit_700_bold_italic.ttf');
$f-kanit-url-800-italic: url('../fonts/kanit/kanit_800_extrabold_italic.ttf');
$f-kanit-url-900-italic: url('../fonts/kanit/kanit_900_black_italic.ttf');

/* BANGERS FONT */
$f-bangers-url-400: url('../fonts/bangers_400_regular.ttf');

/* WORK SANS FONT */
$f-worksans-url-400: url('../fonts/work_sans/worksans_400_regular.ttf');
$f-worksans-url-500: url('../fonts/work_sans/worksans_500_medium.ttf');
$f-worksans-url-600: url('../fonts/work_sans/worksans_600_semibold.ttf');

/* WORK SANS ITALIC FONT */
$f-worksans-url-400-italic: url('../fonts/work_sans/worksans_400_regular_italic.ttf');
$f-worksans-url-500-italic: url('../fonts/work_sans/worksans_500_medium_italic.ttf');
$f-worksans-url-600-italic: url('../fonts/work_sans/worksans_600_semibold_italic.ttf');

/* FONTS SIZES */
$f-size-12: 0.75rem;
$f-size-14: 0.875rem;
$f-size-16: 1rem;
$f-size-18: 1.125rem;
$f-size-20: 1.25rem;
$f-size-22: 1.375rem;
$f-size-24: 1.5rem;
$f-size-26: 1.625rem;
$f-size-28: 1.75rem;
$f-size-30: 1.875rem;
$f-size-32: 2rem;
$f-size-34: 2.125rem;
$f-size-36: 2.25rem;
$f-size-38: 2.375rem;
$f-size-40: 2.5rem;
$f-size-42: 2.625rem;
$f-size-44: 2.75rem;
$f-size-46: 2.875rem;
$f-size-48: 3rem;
$f-size-50: 3.125rem;
$f-size-52: 3.25rem;
$f-size-54: 3.375rem;
$f-size-56: 3.5rem;
$f-size-58: 3.625rem;
$f-size-60: 3.75rem;
$f-size-62: 3.875rem;
$f-size-64: 4rem;
$f-size-66: 4.125rem;
$f-size-68: 4.25rem;
$f-size-70: 4.375rem;
$f-size-72: 4.5rem;
$f-size-74: 4.625rem;
$f-size-76: 4.75rem;
$f-size-78: 4.875rem;
$f-size-80: 5rem;
$f-size-82: 5.125rem;
$f-size-84: 5.25rem;
$f-size-86: 5.375rem;
$f-size-88: 5.5rem;
$f-size-90: 5.625rem;
$f-size-92: 5.75rem;
$f-size-94: 5.875rem;
$f-size-96: 6rem;
$f-size-98: 6.125rem;
$f-size-100: 6.25rem;

/* FONTS WEIGHTS */
$f-weight-thin: 100;
$f-weight-extralight: 200;
$f-weight-light: 300;
$f-weight-regular: 400;
$f-weight-medium: 500;
$f-weight-semibold: 600;
$f-weight-bold: 700;
$f-weight-extrabold: 800;
$f-weight-black: 900;